body {
  /* this make the background a different color */
  background-color: #010b8f;
  /* The padding change the outer part of all tags in the body */
  padding-left: 30px;
  padding-right: 30px;
  height: 5000px; /* Make this site really long */
  width: 5000px; /* Make this site really wide */
  overflow: hidden; /* Hide scrollbars */
}

h1 {
  /* this make the color of the text white */
  color: rgb(188, 188, 188);
  /* this make the text align to the center */
  text-align: center;
  /* this puts a underline under the title */
  text-decoration: underline;
}

a {
  color: red;
}

a:hover {
  color: rgb(77, 21, 21);
}

.title {
  /* make the titles into a new color */
  color: #ff0000;
}

p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(188, 188, 188);
}
